@import '../../stylesheets/_styles';
@import '../../stylesheets/animations';

.button {
  font-size: medium;
  font-weight: normal;
  border-radius: 5px;
  transition: opacity $normal-duration;
  padding: 5px;
  
  &:hover {
    cursor: pointer;
  }
  
  &:active {
    cursor: wait;
    opacity: .8;
  }

  &:disabled {
    cursor: not-allowed;
  }
  
  &--primary {
    @include primary;
    border: none;
  }
  
  &--secondary {
    @include secondary;
    &:hover {
      @include secondary--dark;
    }
  }
  
}